pandas~=2.1.2
polars~=0.19.11
dash==2.14.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
gunicorn

selenium~=4.14.0
setuptools~=68.2.0
waitress~=2.1.2
openpyxl~=3.1.2
google~=3.0.0
xlwings~=0.30.12
numpy~=1.26.1
streamlit~=1.31.1